<ion-header>
  <ion-toolbar color="dark">
    <ion-title> Information</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <h1 class="title">
    Hey Welcome this chatbot demo.
    <br>
  </h1>
  <p class="txt">
    Hi, Before opening the project and compiling it on the different platforms, the first thing you should do is install the dependencies of the starter with the command: npm install.
    Remember that you must be inside the project folder.

    This starter is designed only for all resolutions.

    If you have any questions regarding the design or want support from it, contact the following email: linacastrodev@gmail.com

    or in my social networks, I appear as: @lirrums.
    THIS STARTER IS MADE WITH LOVE AND: https://space10-community.github.io/conversational-form/landingpage/
  </p>
    <ion-button fill="outline" color="danger" (click)="goChatboot()">Go to Chatbot <ion-icon name="chatbubble-ellipses-outline"></ion-icon></ion-button>
</ion-content>